body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #201d1d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
  }

  #calculadora {
    background-color: #ffffff8c;
    width: 350px;
    margin: 50px auto;
    border-radius: 5px;
    padding: 10px;
  }

  input {
    width: 90%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
  }

  button {
    width: 60px;
    height: 48px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 20px;
    background-color: #1ca92f95;

  }

  #display1{
    border-radius: 90px;
  }